
data/
002_ssh/

# terraform
002_terraform/.terraform/
002_terraform/*.tfstate
002_terraform/*.tfstate.backup
002_terraform/terraform.tfstate
002_terraform/terraform.tfstate.*
002_terraform/crash.log
002_terraform/crash.*.log
002_terraform/override.tf
002_terraform/override.tf.json
002_terraform/*_override.tf
002_terraform/*_override.tf.json
002_terraform/ssh/

# env
.env*
